body {
    line-height: 1.4;
    width: 100vw;
    margin: 0;
    z-index: 0;
}

.fp-table {
    justify-content:start;
}

#a1{
    background-color: aqua;
}
#a2{
    background-color: green;
}
.top{

}
.bottom{
    position: absolute;
    bottom: 0;
}